<!DOCTYPE html>
<html>
<head>
<title>保修信息管理</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/plugins/laydate/laydate.js"></script>
<script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
				<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.reportNum" @keyup.enter="query" placeholder="报修单号">
			</div>
			
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.machineNum" @keyup.enter="query" placeholder="机器编号">
			</div>
			
			<div class="form-group col-sm-1">
				<input type="text" class="form-control" v-model="q.reporterName" @keyup.enter="query" placeholder="报修人">
			</div>
			
			<div class="form-group col-sm-1" style="width: 60px;margin-left:10px;padding-right:0px;margin-bottom: 0px;margin-top: 8px;">时间：</div>
			<div class="form-group col-xs-2">
				<input type="text" class="benginTime form-control" id="benginTime" v-model="q.benginTime" @keyup.enter="query" placeholder="开始时间">
			</div>
			
			<div class="form-group col-xs-2">
				<input type="text" class="form-control" id="endTime" v-model="q.endTime" @keyup.enter="query" placeholder="结束时间">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			
			<a v-if="hasPermission('sys:report:update')" v-show="false" id="getReportInfo" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>

		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">报修时间:</div>
			  <!--  	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="report.createTime" placeholder="购买时间"/>
			    </div> -->
			    <div class="col-sm-10" style="display:inline-block;position:relative;top:8px;">
			      <span v-model="report.createTime">{{report.createTime}}</span>
			    </div>
			</div>
		
		<!-- 	<div class="form-group">
			   	<div class="col-sm-2 control-label">报修单号:</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="report.reportNum" placeholder="报修单号"/>
			    </div>
			    <div class="col-sm-10" style="display:inline-block;position:relative;top:8px;">
			      <span v-model="report.reportNum">{{report.reportNum}}</span>
			    </div>
			</div> -->
			<div class="form-group">
			   	<div class="col-sm-2 control-label">报修机器编号:</div>
			   	
			   <!-- 	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="report.machineNum" placeholder="报修机器编号"/>
			    </div> -->
			    <div class="col-sm-10" style="display:inline-block;position:relative;top:8px;">
			      <span v-model="report.machineNum">{{report.machineNum}}</span>
			    </div>
			    
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">报修机器地址:</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="report.reporterType" placeholder="报修人类型 0客户、1代理商、2补货员"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">报修人名称:</div>
			    
			    <div class="col-sm-10" style="display:inline-block;position:relative;top:8px;">
			      <span v-model="report.reporterName">{{report.reporterName}}</span>
			      <span v-model="report.reporterType">({{report.reporterType}})</span>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">报修备注:</div>
			     <div class="col-sm-10" style="display:inline-block;position:relative;top:8px;">
			      <span v-model="report.reportContent">{{report.reportContent}}</span>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">对应经销商:</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="report.reporterType" placeholder="报修人类型 0客户、1代理商、2补货员"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">对应补货员:</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="report.reporterType" placeholder="报修人类型 0客户、1代理商、2补货员"/>
			    </div>
			</div>
			
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">维修反馈信息:</div>
			   	<!-- <div class="col-sm-10">
			      <input type="text" class="form-control" v-model="report.repairContent" placeholder="维修反馈信息"/>
			    </div> -->
			    <div class="col-sm-10">
			   	<textarea rows="5" cols="50" style="resize:none;" v-model="report.repairContent" placeholder="维修反馈信息"></textarea>
			    </div>
			</div>
			
			
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<!-- <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp; --><input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../public/js/sys/report.js"></script>
</body>
</html>